.nav {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.nav ul {
  display: flex;
  gap: 50px;
}

.nav ul li {
  list-style: none;
  transform: none;
  transition: all 0.1s ease-in-out;
  font-size: 20px;
}
